@charset "utf-8";
/* CSS Document */
 
body {
color: black;
background-color : #F0F0F0;
font-family: verdana, helvetica, arial, sans-serif;
font-size: 73%; 
 
margin: 0 auto; /* centrar la pàgina a la pantalla */
padding: 0px;
}
 
.principal
{
position:relative;
}
 
.debug
{
border: solid black 1px;
text-align: center;
 
 
position:relative;
left : 200px;
width : 700px;
 
}
 
 
.login
{	
 
position:absolute;
top : 150px; 
left : 510px;
background-color : #CCCCCC;
width: 220px; 
height: 110px;
 
}
 
.menu
{	
position:absolute;
top : 50px; 
left : 0px;
background-color : #CCCCCC;
width: 180px; 
height: 400px;
 
}
 
.dreta
{
position:absolute;
top : 50px; 
left : 200px;
background-color : #FFFFFF;
width : 800px;
}
 
.administrador {
background-color : #FF7777;
}
 
.header
{
//Poner arriba
position: absolute;
top : 0px;
height : 100px;
}
 
.centrat
{
text-align : center;
}
 
.petita
{
font-size: 80%;
}
 
img
{
border: 0;
}
